<!DOCTYPE html>
<html data-layout-decorate="~{admin/layouts/admin_layout.html}" lang="en">

<head>
  <title>Admin Index</title>
</head>

<body>

<!--<header data-layout-fragment="header" hidden>-->
<!--</header>-->

<main data-layout-fragment="content" class="container">
  <h3>欢迎您来到后台！</h3>
  <h5>请根据需要，点击上方菜单中具体的管理。^↑</h5>
</main>

<!--<footer data-layout-fragment="footer" hidden>-->
<!--</footer>-->

<!--  Begin of plugin-->
<div data-layout-fragment="plugin">
</div>
<script data-layout-fragment="script">
</script>
</body>

</html>
