HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
/.mvn/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

### mvn Wrapper ###
/mvnw.cmd
/mvnw
/src/main/resources/application.properties
/src/main/resources/application-dev.properties
/src/main/resources/application-test.properties
/src/main/resources/application-prod.properties
/src/main/resources/application.properties.bak
/src/main/resources/application-dev.properties.bak
/src/main/resources/application-test.properties.bak
/src/main/resources/application-prod.properties.bak
/src/main/resources/static/client_secret.json
