.rag-red {
    background-color: lightcoral;
}
.rag-green {
    background-color: lightgreen;
}
.rag-amber {
    background-color: lightsalmon;
}
.rag-pink {
    background-color: lightpink;
}
.rag-yellow {
    background-color: lightyellow;
}
.rag-blue {
    background-color: lightsteelblue;
}
