<!DOCTYPE html>
<html data-layout-decorate="~{layouts/default_layout.html}" lang="en">

<head>
  <title>Login</title>

  <!-- Custom styles for this template -->
<!--  <link href="/static/LoginRegister/signin.css" rel="stylesheet">-->
</head>

<body>

<!--<header data-layout-fragment="header" hidden>-->
<!--</header>-->

<div data-layout-fragment="content" class="container">
  <div class="row">
    <div data-th-if="${param.error}" data-th-text="${param.error}">
    </div>
    <div data-th-if="${param.logout}">
      You have logged out.
    </div>
    <div data-th-if="${param.info}" data-th-text="${param.info}">
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header" data-th-text="#{text.signIn.pleaseSignIn}">
        </div>

        <div class="card-body">
          <a href="../"><img class="mb-4" src="../static/logo.svg" alt="logo" width="62" height="40"></a>
<!--          <h3 class="card-title font-weight-normal">请登录</h3>-->
          <form data-th-action="@{/login}" method="post">
            <label for="username" class="sr-only">Email address</label>
            <input name="username" type="text" id="username" class="form-control" placeholder="Email address" data-th-value="${param.username}" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input name="password" type="password" id="password" class="form-control" placeholder="Password" required>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me" data-th-text="#{text.signIn.rememberMe}">
              </label>
            </div>
            <button class="btn btn-lg btn-outline-primary btn-block" type="submit" data-th-text="#{text.signIn.signIn}"></button>
          </form>

          <hr>
          <p data-th-text="#{text.signIn.notMemberYet}"></p>
          <a href="/signup" class="btn btn-lg btn-outline-primary btn-block" data-th-text="#{text.signIn.registerWithEmail}"></a>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-header" data-th-text="#{text.signIn.3rdPartySignIn}">
        </div>

        <div class="card-body">
          <a href="../"><img class="mb-4" src="../static/logo.svg" alt="logo" width="62" height="40"></a>
<!--          <h3 class="card-title mb-3 font-weight-normal">第三方登录</h3>-->
        </div>
      </div>
    </div>
  </div>
</div>

<!--<footer data-layout-fragment="footer" hidden>-->
<!--</footer>-->

<!--  Begin of plugin-->
<div data-layout-fragment="plugin">
</div>
<script data-layout-fragment="script">
</script>
</body>

</html>
