<!DOCTYPE html>
<html data-layout-decorate="~{layouts/default_layout.html}" lang="en">

<head>
  <title>Index</title>
</head>

<body>

<!--<header data-layout-fragment="header" hidden>-->
<!--</header>-->

<div data-layout-fragment="content" class="container">
  <h1>Paypal payment cancel!</h1>
  <h5>We are sorry you cancel the deal, wanna tell us why?</h5>
</div>

<!--<footer data-layout-fragment="footer" hidden>-->
<!--</footer>-->

<!--  Begin of plugin-->
<div data-layout-fragment="plugin">
</div>
<script data-layout-fragment="script">
</script>
</body>

</html>
