<!DOCTYPE html>
<html data-layout-decorate="~{layouts/default_layout.html}" lang="en">

<head>
  <title>Index</title>
</head>

<body>

<!--<header data-layout-fragment="header" hidden>-->
<!--</header>-->

<main data-layout-fragment="content" class="container">
  <h1>Paypal payment success!</h1>
  <h5>Thanks for your business and we wish you a happy and fruitful career!</h5>
</main>

<!--<footer data-layout-fragment="footer" hidden>-->
<!--</footer>-->

<!--  Begin of plugin-->
<div data-layout-fragment="plugin">
</div>
<script data-layout-fragment="script">
</script>
</body>

</html>
